body {
  margin: 0;
  background-color: #fbfbfb;
}
#headerText {
  display: initial;
}

#main {
  background-color: #fbfbfb;
}
#messages {
  margin: 8px;  
}

.messageWrapper {
  width: 100%;
}
.messageWrapper.alignLeft {
  text-align: left;
}
.messageWrapper.alignRight {
  text-align: right;
}

.userBubble {
  display: inline-block;
  width: 64px;
  /* don't set height */
  margin-right: 10px;
  vertical-align: middle;
}
.userBubbleIcon {
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.messageBubble {
  display: inline-block;
  text-align: left;
  max-width: 50%;
  
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  
  padding: 12px;
  background-color: #e4e4e4b3;
  border-radius: 24px;
  margin-bottom: 5px;
  word-wrap: break-word;
}
.messageBubble.alignLeft {
  
}
.messageBubble.alignRight {
  
}
#sendMessage {
  position: fixed;
  bottom: 0;
  background-color: #fbfbfb;
  width: 100%;
}
#sendMessageForm {
  display: flex;
  align-items: center;
  background-color: #fefefe;
}
#sendMessageText {
  flex-grow: 2;
  border-radius: 15px;
  border: solid #b4b4b4;
  border-width: thin;
  height: 33px;
  max-height: 161px;
  outline: none;
  resize: none;
  overflow: auto;
  padding: 5px 5px 5px 10px;
  margin: 3px;
  font-size: large;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}
#sendButton {
  border-radius: 50%;
  background-color: #f19000;
  border: none;
  text-align: center;
  height: 35px;
  width: 35px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sendIcon {
  font-size: 15px;
  color: #ffffff;
}