/* Misc. shared CSS */
* {
  -webkit-user-select: text;  
  -moz-user-select: text;     
  -ms-user-select: text;     
  user-select: text;
}
/*FIXME*/
img#hDots {
  height: 16.6px;
  width: 50px;
  padding-top: 2px;
  padding-bottom: 5px;
}