#appHeader {
  height: 2.8em;
  border-bottom: 1px solid black; /* CHANGE ME */
}
#backButton {
  display: inline-block;
  height: 2.8em;
}
#headerText {
  display: inline-block;
  height: 2.8em;
  line-height: 2.8em;
  vertical-align: top;
}
i.fas {
  margin: .2em;
  color: #f19000;
  border-bottom: rgba(0, 0, 0, 0); /* consistent height */
}
i.fas:hover {
  border-bottom: solid #f19000;
}
