/* Should the header be fixed in place (ie always shows even when scrolling)? */
#appHeader {
  height: 2.8rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.23);
}
#backButton {
  display: inline-block;
  height: 2.8rem;
}
#headerText {
  display: inline-block;
  height: 2.8rem;
  line-height: 2.8rem;
  vertical-align: top;
  
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #08213e;
}
i.fas {
  margin: .2em;
  color: #f19000;
  border-bottom: solid rgba(0, 0, 0, 0); /* consistent height */
}
i.fas:hover {
  border-bottom: solid #f19000;
}
