/* Should the header be fixed in place (ie always shows even when scrolling)? */
/* I added appHeader, backButton, and headerText classes to support pages with multiple headers */
#appHeader, .appHeader {
  height: 2.8rem;
  border-top: solid #f3f3f3;
  border-bottom: solid #f3f3f3;
  border-width: thin;
  background-color: #ffffff;
  margin-top: .5em;
  
  /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);*/
}
#backButton, .backButton {
  display: inline-block;
  height: 2.8rem;
}
#headerText, .headerText {
  display: inline-block;
  height: 2.8rem;
  line-height: 2.8rem;
  vertical-align: top;
  
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #08213e;
}
i.fas {
  margin: .2em;
  color: #f19000;
  border-bottom: solid rgba(0, 0, 0, 0); /* consistent height */
}
i.fas:hover {
  border-bottom: solid #f19000;
}
