html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
div #slide1 {
  background-image: url(https://images.unsplash.com/photo-1538018829-fb1fd13fe610?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a313b9a936d9940785bed67154b062b8&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
}
img {
  width: 100%;
}
.logo {
  margin-top: 3em;
  width: 250px;
  height: 130px;
}
.slideContainer {
  height: 100vh;
}
