#f1 {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  padding-top: 65px;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  font-family: "Roboto", sans-serif;
  color: gray;
}
img#hDots {
  height: 15%;
  width: 15%;
  margin-top: 2em;
}




