body {
  margin: 0px;
}

.userOuter {
  width: 100px;
}
.userIcon {
  display: block;
  width: 90px;
  height: 90px;
  border: 5px solid white; /* changed in the JS */
  border-radius: 100%;
  margin-bottom: 10px;
}
.userInfoOuter {
  display: block;
  width: 100px;
  text-align: center;
}
.userInfoName {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.qqOuter {
  width: 300px;
  margin: auto;
  margin-top: 125px;
}
.qqImg {
  display: block;
  width: 300px;
}
.qqCaption {
  display: block;
  width: 300px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgb(128, 128, 128);
}
