/* TODO: better support for multi-line captions (.stage1.prefIconCaption and .stage2.prefIconCaption) */
body {
  background-color: #fdfdfd;
  margin: 0px;
}
div#grayOver {
  position: fixed;
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.05); 
  z-index: 1; 
}
div#stage1 {
  transition: all .5s;
}
.stage1.categoryOuter:first-child {
  padding-top: 50px;
}
.stage1.categoryHeader {
  display: inline-block; /* shrink to fit contents, for the ::after pseudo-element */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 3px;
  margin-top: 5px;
  color: #08213e;
  
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.stage1.categoryHeader::after {
/*  content: "";
  display: block;
  width: 50%;
  height: 0px;
  margin-top: 5px;
  border-bottom: 2px solid #08213e;
  opacity: 0.5;*/
}
.stage1.category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  /*categority boxes*/
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-right: .5em;
  margin-left: .5em;
}
.stage1.prefIconOuter {
  position: relative;
  width: 80px;
  margin: 10px;
}
.stage1.prefIconPlaceholder {
  width: 80px;
  height: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.stage1.prefIcon {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.stage1.prefIconOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  opacity: 0.5;
}
.stage1.prefIconCaption {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

div.forButton {
  display: flex;
  justify-content: center;
  margin: 1.5em 1em;
}

/* FIXME: what are these for? remove if not in use */
.prefLevel1 {
  background-color : #ffe093;
  border-radius: 50%;
  display: none;
  position: absolute;
  z-index: 1; 
  width: 80px;
  height: 80px;
  text-align: center;
}
.prefLevel2 {
  background-color: #93b3ff;
  border-radius: 50%;
}
.prefLevel3 {
  background-color: #ff93ab;
  border-radius: 50%;
}

/* ---popup--- */
#levelPopup {
  margin: 10px;
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  transition: all 1s;
  margin-top: 22vh;
  -webkit-animation: slide-down .3s ease-out;
  -moz-animation: slide-down .3s ease-out;
}
#levelPopupTitle {
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(45deg, rgb(228, 166, 43), rgba(203, 40, 139));
  font-size: 20px;
  overflow: auto;
  padding: 5px;
  color: #ffffff;
  font-weight: 600;
  max-width: 500px;
  margin: auto;
}
#levelPopupName {
  
}
.indivContainer {
  display: flex;
  justify-content: center;
}
.shadow {
  align-self: center;
  height: 50px;
  width: 50px;
  position: fixed;
  border-radius: 50%;
  transition: all .2s;
}
#shadow1 {
  background-color: rgba(255, 224, 147, .5);
}
#shadow2 {
  background-color: rgba(147, 179, 255, .5);
}
#shadow3 {
  background-color: rgba(255, 147, 171,.5);
}
#levelPopupButtons {
  margin: 5px;
  display: flex;
  justify-content: center;
}
.levelPopupButton {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  z-index: 1;
  margin: 5px;
}
.blurAndStyle {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: scale(0); } 
     50% { opacity: .5; }  
    100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: scale(0); } 
     50% { opacity: .5; }  
    100% { opacity: 1; -moz-transform: scale(1); }
}