table.prefs {
  margin: 0px;
  border: 0px;
  padding: 0px;
  border-collapse: collapse;
}
tr.prefs {
  margin: 0px;
  border: 0px;
  border-bottom: 1px solid #777777;
  padding: 0px;
}
td.prefs {
  margin: 0px;
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.delPref {
  margin: 0px;
  border: 0px;
  padding: 3px;
  color: black;
  background-color: white;
  outline: none;
}
.delPref::after {
  /* TODO: use image instead */
  content: "x";
}
.delPref:hover {
  border: 1px solid #999999;
}

.prefIconOuter {
  width: 64px;
}
.prefIcon {
  width: 64px;
  height: 64px;
  border: 1px solid black;
}
.prefIconCaption {
  
}
