body {
  margin: 0;
}

#container {
	width: 100%;
	height: 100%;
}
.userCont {
  padding-left: .5rem;
}
.detailIcon {
  border-radius: 100%;
  display: block;
  height: 25vw;
  width: 25vw;
  margin: auto;
  margin-top: 1vh;
  border: solid #f19000;
  border-width: thin;
}
p#usersName {
  margin-top: .5em;
  text-align: left;
  font-size: 4vw;
  font-weight: 600;
  color: #08213e;
}

.userInfo {
  width: 30%;
}

.editButt {
  background-color: #ffffff;
  box-shadow: 0 0 10px .1px rgba(0, 0, 0, 0.03), 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  color: #08213e;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: .1em;
  padding-left: .2em;
  padding-right: .2em;
  outline: none;
}