body {
  background-color: #fbfbfb;
  margin: 0px;
}

div#topPart {
  margin-bottom: 1vh;
  position: fixed;
  width: 100%;
  background-color: #fbfbfb;
  margin-top: 0px;
  box-shadow: 0 4px 2px -2px #fbfbfb;
}
.searchbar {
  width: 95%;
  display: block;
  margin: auto;
  padding: .4rem;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 6px;
  border: solid lightgray;
  border-width: thin
 }
div#main {
  padding-top: 89px;
}
.userOuter {
  height: auto;
  padding: 5px;
  box-shadow: 0 0 10px .1px rgba(0, 0, 0, 0.03), 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
  border-radius: 15px;
  margin: 7px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;   
}
.userIcon {
  display: inline-block;
  width: 64px;
  height: auto;
  border-radius: 100%;
  margin-right: 10px;
  box-shadow: 0 0 10px .1px rgba(0, 0, 0, 0.03), 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}
.userInfoOuter {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  padding-top: 8px;
}
/* Feel free to tweak the spacing for these lines */
.userInfoName {
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #08213e;
  font-weight: 600;
}
.userInfoExtra {
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.buttonContOuter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-end;
  margin-left: auto;
}


