body {
  background-color: #fbfbfb;
  margin: 0px;
}

.userOuter {
  height: 64px;
  padding: 5px;
  box-shadow: 0 0 10px .1px rgba(0, 0, 0, 0.03), 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
  border-radius: 15px;
  margin: 7px;
  margin-bottom: 10px;
  margin-top: 10px;  
  display: flex;   
}
.userIcon {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  margin-right: 10px;
  box-shadow: 0 0 10px .1px rgba(0, 0, 0, 0.03), 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}
.userInfoOuter {
  display: inline-block;
  vertical-align: top;
  height: 64px;
}
.userInfoName {
  height: 30px;
  line-height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  color: #08213e;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}
.userButtons {
  
}

/*FIXME*/
img#hDots {
  height: 15%;
  width: 15%;
  padding-top: 2px;
  padding-bottom: 5px;
}

